

#grid_container {
    
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat (12 1fr);
    grid-template-rows: 6rem 15rem;
     
}
#header {
    grid-column: 1/12;
    grid-row: 1;
    font-size: 3.5rem;
    justify-self: center;

} 
form {
    grid-column: 1/12;
    grid-row: 2;
    justify-self: center;
    max-width: 100%;
    height: auto;
}

#add_notes{
    grid-column: 1/12;
    font-size: 1.25rem;
    border-radius: 8px;
    justify-self: center;
    width: 25rem;
    height: 10rem;
}

#radios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px;
}


#css_radio {
    grid-column: 1;
    cursor: pointer;
    width: 2rem;
    height: 1.5rem; 
    align-self: start;
}

#js_radio{
    grid-column: 2;
    cursor: pointer;
    width: 2rem;
    height: 1.5rem;
    align-self: start; 
}

#add_btn {
    grid-column: 4;
    cursor: pointer;
}

#css_ul {
    list-style-type: none;
    grid-column: 4;
    grid-row: 3;
    justify-self: end;
    font-size: 2rem;
    margin: 1.5rem;
    text-align: center;
    
}

#js_ul {
    list-style-type: none;
    grid-column: 6;
    grid-row: 3;
    text-align: center;
    font-size: 2rem;
    margin: 1.5rem;

}

.cssDiv{
    font-size: 1rem;
    grid-column: 6;
    grid-row: 4;
    margin-top: 2rem;
    border: solid;
    border-radius: .5rem;
    width: 100%;
    height: auto;
    padding: 2rem;
    justify-self: start;
    display: grid;
    padding-top: 1rem;
    padding-right: 0;
    padding-bottom: 0.5rem;
}
.jsDiv{
    font-size: 1rem;
    grid-column: 6;
    grid-row: 4;
    margin-top: 2rem;
    border: solid;
    border-radius: .5rem;
    width: 100%;
    height: auto;
    padding: 2rem;
    justify-self: start;
    display: grid;
    padding-top: 1rem;
    padding-right: 0;
    padding-bottom: 0.5rem;
    
}

.cssDiv:hover {
    color: blue;
    z-index: 100;
    height: 15rem;

}
.jsDiv:hover {
    height: 15rem;
    color: blue;
    z-index: 100;
}


.cssNote {
    grid-column: 1/3;
    grid-row: 1;
    border: none;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    resize: none;
    min-width: 15rem;
    min-height: 7rem;
    outline: none;
}
.cssNote:hover{
    min-height: 7rem;
    color: blue;
    z-index: 100;
}


.jsNote{
    grid-column: 1/3;
    grid-row: 1;
    border: none;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    resize: none;
    min-width: 15rem;
    height: 7rem;
    outline: none;
}
.jsNote:hover{
    min-height: 7rem;
    color: blue;
    z-index: 100;
}
.del_btn {
    grid-column: 3;
    grid-row: 1;
    font-size: 1.25rem;
    height: 2rem;
    width: 5rem;
    align-self: start;
    justify-self: end;
    background: none;
    border: none;
    color: red;
    font-weight: 3rem;
    font-family: "FontAwesome";
    content: "\F5DE";

}
.del_btn:hover {
    font-size: 2rem;
    font-family: "Font Awesome 5 Free";
    content: "\F5DE";

}

.edit_btn{
    grid-column: 1;
    grid-row: 2;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    align-self: end;
}

.edit_btn:hover {
    background-color: purple;
    color: white;
}


.done_btn{
    grid-column: 2;
    grid-row: 2;
    padding: .2rem;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    align-self: end;
}

.done_btn:hover {
    background-color: green;
    color: white;
}
    


